@model RepasoPrimerExamenAWS.Models.Personaje

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Personaje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPersonajes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPersonajes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Imagen" width="200" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
